* {
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: beige;
    max-width: 870px;
    margin: auto;
    color:  #2e4d00;
}

main {
    max-width: 750px;
    margin: auto;
    padding: 2% 0%;
}

p, h2, h3 {
    text-align: left;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.startimage {
    padding-top: 5%;
    padding-bottom: 2%;
    margin: auto;
    max-width: 700px;
}

nav {
    width: 100%;
    background-color: greenyellow;
}

nav a {
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    color: #2e4d00;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    padding: 2%;
    margin: auto;
    width: 100%;
}

.actual {
    background-color: #7acc00;
}

.actual a {
    color: #c2ff66; 
}

footer {
    background-color: #e9e9af;
    font-size: smaller;
    letter-spacing: 1px;
    color: #9d8215;
    padding: 1%;
    margin-bottom: 30px;
    margin-top: 60px;
}

table {
    border-collapse: collapse;
}

th, td {
    width: 200px;
    /* background-color: whitesmoke; */
    background-color: #f9f9eb;
    padding: 5%;
    border: 1px solid #cece4b;
}

th {
    /* background-color: #e9e9af; */
    background-color: beige;
}

#user-input {
    display: flex;
    flex-direction: column;
    justify-self: start;
}

#threshold {
    background-color: beige;
}

#buttons {
    display: flex;
    justify-self: start;
    gap: 10px;
    margin: 1%;
}

#form {
    display: flex;
    justify-self: start;
    margin: 2%;
}

button {
    /* background-color: #e9e9af; */
    background-color: beige;
    cursor: pointer;
    padding: 10px 20px;
    letter-spacing: 1px;
    color: black;
    font-size: 14px;
    border: none;
    /* border-radius: 50px; */
    border: solid 1px #cece4b;
}

button:hover {
    color: black;
    border: solid 1px black;
}